Node-RedTextFile.txt
[{"id":"ab4e4b74.7620a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40082d33.5ec554","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2421e87a.ac0f78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7e54b688.2f3698","type":"ui_group","z":"","name":"Default","tab":"2421e87a.ac0f78","order":1,"disp":true,"width":"6","collapse":false},{"id":"90cdad18.6492d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b683453d.d008b8","type":"ibmiot","z":"","name":"Input Data","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3d591475.d99eac","type":"ibmiot in","z":"ab4e4b74.7620a8","authentication":"apiKey","apiKey":"40082d33.5ec554","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Raspikeethu","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":260,"wires":[["b28e48e8.2a61e8","eb8a84c8.cfb4a8","63e6b276.60bf0c","2eb70d4e.8848a2"]]},{"id":"b28e48e8.2a61e8","type":"function","z":"ab4e4b74.7620a8","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["c8398bfb.8656a8","853d64a9.d73aa8"]]},{"id":"eb8a84c8.cfb4a8","type":"function","z":"ab4e4b74.7620a8","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["12908d26.e31c83","fc72bb41.70f6b8"]]},{"id":"63e6b276.60bf0c","type":"function","z":"ab4e4b74.7620a8","name":"Vibration","func":"global.set('Vibration',msg.payload.Vibration)\nmsg.payload=msg.payload.Vibration\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":360,"wires":[["361fe09f.69e7f","e3c1a172.71404"]]},{"id":"2eb70d4e.8848a2","type":"function","z":"ab4e4b74.7620a8","name":"current","func":"global.set('Current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":480,"wires":[["af97a1dc.097e1","8346cc92.d49e1"]]},{"id":"d7d2876d.a046b8","type":"debug","z":"ab4e4b74.7620a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":340,"wires":[]},{"id":"c8398bfb.8656a8","type":"ui_gauge","z":"ab4e4b74.7620a8","name":"","group":"7e54b688.2f3698","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"50","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":220,"wires":[]},{"id":"12908d26.e31c83","type":"ui_gauge","z":"ab4e4b74.7620a8","name":"","group":"7e54b688.2f3698","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"50","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":320,"wires":[]},{"id":"af97a1dc.097e1","type":"ui_gauge","z":"ab4e4b74.7620a8","name":"","group":"7e54b688.2f3698","order":3,"width":0,"height":0,"gtype":"gage","title":"Current","label":"units","format":"{{value}}","min":"5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":540,"wires":[]},{"id":"385592c7.1a89be","type":"ui_button","z":"ab4e4b74.7620a8","name":"","group":"7e54b688.2f3698","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR ON\"}","payloadType":"json","topic":"","x":710,"y":980,"wires":[["a44157f4.0644b8"]]},{"id":"65c1a8eb.918ae8","type":"ui_button","z":"ab4e4b74.7620a8","name":"","group":"7e54b688.2f3698","order":5,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR OFF\"}","payloadType":"json","topic":"","x":710,"y":1040,"wires":[["a44157f4.0644b8"]]},{"id":"a44157f4.0644b8","type":"ibmiot out","z":"ab4e4b74.7620a8","authentication":"apiKey","apiKey":"40082d33.5ec554","outputType":"cmd","deviceId":"Raspikeethu","deviceType":"1.1.3","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":1040,"wires":[]},{"id":"72ecfa8f.6e30e4","type":"http in","z":"ab4e4b74.7620a8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":500,"y":760,"wires":[["40e4a58e.f180dc"]]},{"id":"6cdef21d.707d6c","type":"http response","z":"ab4e4b74.7620a8","name":"","statusCode":"","headers":{},"x":880,"y":760,"wires":[]},{"id":"40e4a58e.f180dc","type":"function","z":"ab4e4b74.7620a8","name":"data","func":"msg.payload={'temperature':global.get(\"Temperature\"), 'humidity':global.get(\"Humidity\"), 'vibration':global.get(\"Vibration\"),\n'current':global.get(\"Current\")};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":780,"wires":[["6cdef21d.707d6c"]]},{"id":"c32cc328.420a4","type":"http in","z":"ab4e4b74.7620a8","name":"","url":"/button","method":"get","upload":false,"swaggerDoc":"","x":520,"y":900,"wires":[["415a9e47.1985c"]]},{"id":"a15b1c49.72ce","type":"http response","z":"ab4e4b74.7620a8","name":"","statusCode":"","headers":{},"x":900,"y":900,"wires":[]},{"id":"415a9e47.1985c","type":"function","z":"ab4e4b74.7620a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":900,"wires":[["a15b1c49.72ce","ba39d7b8.26b878","a44157f4.0644b8"]]},{"id":"ba39d7b8.26b878","type":"debug","z":"ab4e4b74.7620a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":860,"wires":[]},{"id":"853d64a9.d73aa8","type":"switch","z":"ab4e4b74.7620a8","name":"Anomaly Switching","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"101","vt":"str"},{"t":"gte","v":"101","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":160,"wires":[["e3efbead.89a09"],["893e36e.395e5c8","cca4013b.c93ba"]]},{"id":"fc72bb41.70f6b8","type":"switch","z":"ab4e4b74.7620a8","name":"Anomaly Monitoring","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"90","vt":"str"},{"t":"gte","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":260,"wires":[["73e1b364.dcec3c"],["17b7b8c9.f06b57","dbff5de4.9cb34"]]},{"id":"361fe09f.69e7f","type":"switch","z":"ab4e4b74.7620a8","name":"Anomaly Monitoring","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":380,"wires":[["e4099900.db3768"],["3bd51e1.02563e2"]]},{"id":"8346cc92.d49e1","type":"switch","z":"ab4e4b74.7620a8","name":"Anomaly Monitoring","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"str"},{"t":"gte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":480,"wires":[["8386b6c8.e09528"],["d2e870a5.d4c6f","582797d.1d6f568"]]},{"id":"e3efbead.89a09","type":"template","z":"ab4e4b74.7620a8","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:The Temperature {{payload}}C is within limits !","output":"str","x":810,"y":100,"wires":[["d7d2876d.a046b8"]]},{"id":"893e36e.395e5c8","type":"template","z":"ab4e4b74.7620a8","name":"Danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:CRITICAL! Temperature {{payload}}C is off limits !","output":"str","x":820,"y":140,"wires":[["d7d2876d.a046b8"]]},{"id":"73e1b364.dcec3c","type":"template","z":"ab4e4b74.7620a8","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:The Temperature {{payload}}C is within limits !","output":"str","x":810,"y":240,"wires":[["d7d2876d.a046b8"]]},{"id":"17b7b8c9.f06b57","type":"template","z":"ab4e4b74
.7620a8","name":"Danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:CRITICAL! Temperature {{payload}}C is off limits !","output":"str","x":820,"y":280,"wires":[["d7d2876d.a046b8"]]},{"id":"e4099900.db3768","type":"template","z":"ab4e4b74.7620a8","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:The Temperature {{payload}}C is within limits !","output":"str","x":810,"y":360,"wires":[["d7d2876d.a046b8"]]},{"id":"3bd51e1.02563e2","type":"template","z":"ab4e4b74.7620a8","name":"Danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:CRITICAL! Temperature {{payload}}C is off limits !","output":"str","x":820,"y":400,"wires":[["d7d2876d.a046b8"]]},{"id":"8386b6c8.e09528","type":"template","z":"ab4e4b74.7620a8","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:The Temperature {{payload}}C is within limits !","output":"str","x":810,"y":500,"wires":[["d7d2876d.a046b8"]]},{"id":"d2e870a5.d4c6f","type":"template","z":"ab4e4b74.7620a8","name":"Danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:CRITICAL! Temperature {{payload}}C is off limits !","output":"str","x":820,"y":540,"wires":[["d7d2876d.a046b8"]]},{"id":"cca4013b.c93ba","type":"function","z":"ab4e4b74.7620a8","name":"Shutdown Trigger","func":"msg.payload=JSON.stringify({\"data\":\"Shutdown\"});\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["ec2547f5.f73f38"]]},{"id":"dbff5de4.9cb34","type":"function","z":"ab4e4b74.7620a8","name":"Shutdown Trigger","func":"msg.payload=JSON.stringify({\"data\":\"Shutdown\"});\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":320,"wires":[["86688594.f4fcc8"]]},{"id":"582797d.1d6f568","type":"function","z":"ab4e4b74.7620a8","name":"Shutdown Trigger","func":"msg.payload=JSON.stringify({\"data\":\"Shutdown\"});\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":580,"wires":[["a1f1f3df.d541c"]]},{"id":"e3c1a172.71404","type":"ui_gauge","z":"ab4e4b74.7620a8","name":"","group":"7e54b688.2f3698","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":420,"wires":[]},{"id":"ec2547f5.f73f38","type":"ibmiot out","z":"ab4e4b74.7620a8","authentication":"apiKey","apiKey":"40082d33.5ec554","outputType":"cmd","deviceId":"Raspikeethu","deviceType":"1.1.3","eventCommandType":"shutdown","format":"json","data":"{\"command\":\"shutdown\"}","qos":0,"name":"IBM IoT","service":"registered","x":1070,"y":180,"wires":[]},{"id":"86688594.f4fcc8","type":"ibmiot out","z":"ab4e4b74.7620a8","authentication":"apiKey","apiKey":"40082d33.5ec554","outputType":"cmd","deviceId":"Raspikeethu","deviceType":"1.1.3","eventCommandType":"shutdown","format":"json","data":"{\"command\":\"shutdown\"}","qos":0,"name":"IBM IoT","service":"registered","x":1060,"y":300,"wires":[]},{"id":"a1f1f3df.d541c","type":"ibmiot out","z":"ab4e4b74.7620a8","authentication":"apiKey","apiKey":"40082d33.5ec554","outputType":"cmd","deviceId":"Raspikeethu","deviceType":"1.1.3","eventCommandType":"shutdown","format":"json","data":"{\"command\":\"shutdown\"}","qos":0,"name":"IBM IoT","service":"registered","x":1040,"y":560,"wires":[]}]